/objetos/project1/nbproject/private/
/objetos/TP_ProyectoAlumnos/build/
/objetos/ejercicio1/nbproject/private/
/objetos/Repaso/ejercicio1/build/
/objetos/Repaso/ejercicio2/nbproject/private/
/objetos/Repaso/ejercicio2/build/
/objetos/Repaso/Ejercicio3/nbproject/private/
/objetos/Repaso/Ejercicio3/build/
